<form action="/admin/attractions" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Create Attraction</h1>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="tel">tel</label>
    <input class="form-control" type="tel" name="tel" id="tel" placeholder="Enter tel">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="introduction">introduction</label>
    <textarea class="form-control" id="introduction" name="introduction" rows="3"></textarea>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="photo">photo</label>
    <input class="form-control" type="url" name="photo" id="photo" placeholder="Enter photo URL">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="city">city</label>
    <input class="form-control" type="text" name="city" id="city" placeholder="Enter city">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="town">town</label>
    <input class="form-control" type="text" name="town" id="town" placeholder="Enter town">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="address">address</label>
    <input class="form-control" type="text" name="address" id="address" placeholder="Enter address">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>