<form action="/admin/attractions/{{attraction.id}}?_method=PUT" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Edit Attraction</h1>
  </div>
  {{> admin-attraction-form}}
</form> 
<a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" >Back</a>